.tab-item {
    color: $gray-color-dark !important;
}

section .active,
li .active {
    color: $primary-color !important;
    font-weight: 600;
}

.mobile-view section .active,
.mobile-view li .active {
    background-color: rgba($primary-color, 0.12) !important;
}
