@import "../../style/index";


.bg-secondary {
    background: $secondary-color !important;
}

.btn:focus,
.btn:hover {
    background: #b1ccdc;
    border-color: #005287;
    text-decoration: none
}

.btn.btn-primary.active,
.btn.btn-primary:active {
    background: #004572;
    border-color: #003c63;
    color: #fff
}

.btn.btn-primary.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff
}

.terminal .warning {
    color: orange;
    font-weight: bolder
}
    
.terminal .info {
    color: green;
    font-weight: bolder
}


/* Barra inferior completa */
.terminal-input-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Flechas en columna */
.terminal-history-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;   /* ← acá */
}

/* Input ocupa todo el ancho restante */
.terminal-input-main {
    flex: 1;
}


