@import "../../style/index";


.bg-secondary {
    background: $secondary-color !important;
}

.btn:focus,
.btn:hover {
    background: $primary-color-dark;
    border-color: $primary-color-dark;
    text-decoration: none
}

.btn:focus,
.btn:hover {
    background: $primary-color-dark;
    border-color: $primary-color-dark;
    color: $light-color;          // 🔑 ESTA línea es la clave
    text-decoration: none;
}

.btn.btn-primary.loading::after {
    border-bottom-color: #fff;
    border-left-color: #fff
}

.terminal .warning {
    color: orange;
    font-weight: bolder
}
    
.terminal .info {
    color: green;
    font-weight: bolder
}



