
/* Barra inferior completa */
.terminal-input-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Flechas en columna */
.terminal-history-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;   /* ← acá */
}

/* Input ocupa todo el ancho restante */
.terminal-input-main {
    flex: 1;
}



/* ============================= */
/* Terminal panel scrollbar */
/* ============================= */

#terminalPanel .terminal {
  scrollbar-width: thin;
  scrollbar-color: $primary-color $bg-color-dark;
}

#terminalPanel .terminal::-webkit-scrollbar {
  width: 8px;
}

#terminalPanel .terminal::-webkit-scrollbar-track {
  background-color: $bg-color-dark;
  border-radius: 8px;
}

#terminalPanel .terminal::-webkit-scrollbar-thumb {
  background-color: rgba($primary-color, 0.6);
  border-radius: 8px;
}

#terminalPanel .terminal::-webkit-scrollbar-thumb:hover {
  background-color: $primary-color;
}
